body {
  background-image: url("1.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div {
  background-image: url("2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: blue;
  padding: 30px;
  margin: 50px;
}

p {
  color: red;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
